.navbar {
	background-color: transparent;
	color: black;
}
.navbar a {
    color: blue;
}

.navbar-default .navbar-nav > .active{
    color: transparent;
   background: transparent;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
      color: transparent;
      background: transparent;
}

.balloon-display {
  display:inline-block;
  width:200px;
  margin-left: 5em;
  margin-bottom: 1em;
}

.balloon-images {
  width: 220px;
  height: 200px;
}