<h1>Balloon Me!</h1>
<a href="/balloons" class="btn btn-info">See All Balloons</a>
<h3>For All Your Animal Balloon Making Needs. Check out All the Balloons You Can Make!!</h3>


<form class="form-inline centered">
	<div class="form-group">
		<label for="search">Search</label>
		<input type="text" ng-model="searchTerm" placeholder="Search for Balloons" id="search" class="form-control">
	</div>
	<button type="submit" ng-click="search()" class="btn btn-info ">Search</button>
</form>

<div class="well results" ng-repeat="result in results"><a ng-href="/balloons/{{result._id}}">{{ result.name }}</a></div>